<div class="banner-home d-flex justify-content-center">

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 lead-box">
        <h1 class="banner-lead">Buddy Lingua</h1>
        <p id="banner-typed-text">Meet a buddy, learn a language.</p>
          <% if @user %>
            <p><%= link_to "Get Started", user_path(@user), class: "button-purple-banner"%></p>
          <% else %>
            <p><%= link_to "Get Started", new_user_session_path, class: "button-purple-banner"%></p>
          <% end %>
      </div>
    </div>
  </div>
</div>


<!-- cards with icons -->
<div style="background-color: #f4f4f4;">
  <div class="container p-2">
  <h2 class="ultimate-lead text-center mt-5">The Ultimate Learning Experience</h2>

    <div class="ultimate-learning row d-flex justify-content-center">
      <div class="line-bt col-lg-4 col-md-4 col-xs-12 p-0">
        <div class="card d-flex align-items-center bg-transparent p-0 ">
          <div class="icon-home icon-learn"></div>
          <hr class="m-3 divider-gray">
          <p class="text-center">Learn foreign<br>languages and <br>explore other cultures</p>
        </div>
      </div>

      <div class="line-bt col-lg-4 col-md-4 col-xs-12 p-0">
        <div class="card d-flex align-items-center bg-transparent p-0 ">
          <div class="icon-home icon-people"></div>
          <hr class="m-3 divider-gray">
          <p class="text-center">Become part<br>of the worldwide<br>community</p>
        </div>
      </div>

      <div class="line-bt col-lg-4 col-md-4 col-xs-12 p-0">
        <div class="card d-flex align-items-center bg-transparent p-0 pb-2 mb-2">
          <div class="icon-home icon-chat"></div>
          <hr class="m-3 divider-gray">
          <p class="text-center">Chat with many<br>language partners<br>and get new friends</p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- newsletter -->
<div class="newsletter newsletter-container p-4 d-flex justify-content-center">
  <div class="text-center newsletter-content">
    <h2 class="lead">Get news from us</h2>
    <p>Sign up for our weekly newsletter to get the latest news, updates and amazing offers delivered directly to your inbox</p>
    <br>
    <form class="form-inline d-flex justify-content-center">
      <input type="email" placeholder="Enter your email..." class="form-control mr-2 text-center">
      <input type="submit" value="Subscribe" class="button-rect-orange">
    </form>
  </div>
</div>

 <%= render 'shared/footer_not_fixed' %>

