.banner-home {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.1)
    ),
    image-url('bg-main');
  background-size: cover;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  display: flex;
  height: 80vh;
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  border-bottom: 0.5px #fefefe solid;
}

.banner-lead {
  font-size: 66px;
  font-weight: 700;
  color: $highlight-1;
}

.lead-box {
  width: 700px;
  margin-left: 70px;
  margin-bottom: 35px;
}

.typed-text-body {
  height: 70px;
  padding: 10px 2px;
  margin-bottom: 6px;
}

#banner-typed-text {
  font-size: 25px;
  font-weight: 400;
  height: 70px;
  display: inline-block;
  max-width: 530px;
}

.hero {
  margin-right: 350px;
  display: flex;
  flex-direction: column;
}

/* Smartphones */
@media only screen and (max-width: 500px) {
  .banner-home {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.52),
        rgba(255, 255, 255, 0.73)
      ),
      image-url('bg-bubbles');
  }

  .banner-lead {
    font-size: 45px;
  }

  .lead-box {
    width: 700px;
    margin-left: 75px;
  }

  .typed-text-body {
    margin-bottom: 20px !important;
  }

  #banner-typed-text {
    font-size: 20px;
    height: 80px;
  }
}

/* Tablets */
@media (min-width: 501px) and (max-width: 768px) {
  .banner-home {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.52),
        rgba(255, 255, 255, 0.73)
      ),
      image-url('bg-bubbles');
    height: 70vh;
  }

  .banner-lead {
    font-size: 45px;
  }
}

/* Normal */
@media (min-width: 769px) and (max-width: 1200px) {
  .banner-home {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.6)
      ),
      image-url('bg-bubbles');
    height: 70vh;
  }
}
