.footer {
  background: $grey-1;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 25px 0px 25px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a,
.footer-text a {
  color: $grey-7;
  opacity: 0.75;
  font-size: 16px;
  padding: 0px 12px;
  text-decoration: none;
}

.footer-links a {
  font-size: 22px;
  padding: 0px 9px;
}

.footer-text a:first-child,
.footer-text a:nth-child(2) {
  margin-right: 9px;
}

.footer-links a:hover,
.footer-text a:hover {
  opacity: 0.5;
}

/* Smartphones */
@media only screen and (max-width: 500px) {

  .footer {
    display: flex;
    justify-content: center;
    margin: 0
  }

  .footer .footer-text a {
    display: none;
  }

  .footer-links a {
    text-align: center;
  }
}

/* Tablets */
@media(min-width: 501px) and (max-width: 750px) {

  .footer {
    display: flex;
    justify-content: center;
    margin: 0
  }

  .footer .footer-text a {
    display: none;
  }

  .footer-links a {
    text-align: center;
  }
}

/* Normal */
@media(min-width: 751px) and (max-width: 1200px) {
  .footer-text a:first-child,
  .footer-text a:nth-child(2) {
    margin-right: 2px;
  }

  .footer-text a {
    font-size: 14px;
  }
}