.navbar-lewagon {
  justify-content: space-between;
  background: rgb(126,39,196);
  background: linear-gradient(90deg, rgba(126,39,196,1) 0%, rgba(186,118,241,1) 50%, rgba(126,39,196,1) 100%);
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

/* Smartphones */
@media only screen and (max-width: 576px) {
  .avatar-navbar, .logo-navbar, .logo-text, .grey-box-list p {
    display: none;
  }

  .dropdown-toggle::after {
    display: none;
}
}